{% extends '_base.html' %}
{% load static %}
{% block styles %}
<style>
    #bggg-loging {
        background-image: url("{% static 'imgs/services/3.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #hero-section {
        background-image: url("{% static 'imgs/about/about-banner.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
    }
</style>
{% endblock styles %}

{% block content %}
<section class="section-banner">
    <div id="hero-section"
        class="banner-image flex flex-wrap w-full justify-center sm:h-[400px] h-[300px] m-0 bg-cover bg-bottom">
        <div class="w-full sm:sm:h-[400px] h-[300px] absolute bg-[#000000bf]"></div>
        <div class="flex items-center justify-center text-center z-2">
            <div class="mt-[65px]">
                <h2
                    class="mb-[12px] 2xl:text-[40px] xl:text-[38px] lg:text-[36px] md:text-[34px] sm:text-[30px] text-[28px] font-bold">
                    Sign up</h2>
                <h5 class="text-[16px]">
                    <span>
                        <a href="{% url 'prop_home:prop-home' %}" class="text-[#fff] hover:text-[#fff]">Home</a>
                    </span>
                    <span class="font-bold"> / </span>
                    <span>
                        <a href="javascript:void(0)" class="text-[#fff] hover:text-[#fff]">Sign up</a>
                    </span>
                </h5>
            </div>
        </div>
    </div>
</section>

<section class="bg-custom-bg py-20 font-sans">
    {% include "includes/errors.html" %}
    <div class="lg:grid lg:min-h-screen bg-white rounded-md lg:grid-cols-12 container">
        <section class="relative flex h-32 items-end bg-custom-h lg:col-span-5 lg:h-full xl:col-span-6">
            <img alt="bbgi team member"
                src="{% static 'imgs/services/3.png' %}"
                class="absolute inset-0 h-full w-full object-cover opacity-80" />

            <div class="hidden lg:relative lg:block lg:p-12 bg-custom-h">
                <a class="block text-white" href="{% url 'prop_home:prop-home' %}">
                    <span class="sr-only">Home</span>
                    <img src="{% static 'imgs/logo/logo.png' %}" alt="bbgi logo" class="w-32 mx-auto" />
                </a>

                <h2 class="mt-6 text-2xl font-bold text-white sm:text-3xl md:text-4xl">
                    Welcome to BBGI
                </h2>

                <p class="mt-4 leading-relaxed text-white/90">
                    The Black Business Growth Initiative supports Black African businesses and careers by providing a unified platform for
                    entrepreneurs and professionals to showcase their expertise and promote unity and cooperation.
                </p>
            </div>
        </section>

        <main class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6">
            <div class="max-w-xl lg:max-w-3xl">
                <div class="relative -mt-16 block lg:hidden">
                    <a class="inline-flex size-16 items-center overflow-hidden justify-center rounded-full bg-custom-h text-custom-h sm:size-20"
                        href="{% url 'prop_home:prop-home' %}">
                        <span class="sr-only">Home</span>
                        <img src="{% static 'imgs/logo/logo.png' %}" alt="bbgi logo" class="w-32 mx-auto" />
                    </a>

                    <h1 class="mt-2 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
                        Welcome to Phiko Prop
                    </h1>

                    <p class="mt-4 leading-relaxed text-gray-500">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cum dolore veniam beatae hic quia saepe ut accusantium
                    </p>
                </div>

                <form method="post" class="mt-8 grid grid-cols-6 gap-6">
                    {% csrf_token %}
                    <div class="col-span-6">
                        <label for="id_profile_image" class="block text-sm font-medium text-gray-700">
                            Profile picture
                        </label>
                        <input type="file" name="profile_image" accept="image/*" id="id_profile_image"
                            class="w-[0.1px] h-[0.1px] opacity-0 overflow-hidden absolute -z-[1]" />
                        <div class="w-full border rounded-md bg-white border-dotted p-2">
                            <div class="flex items-center flex-col md:flex-row gap-4 w-full justify-between">
                                <div class="flex items-center space-x-4">
                                    <div id="img_container" class="h-16 w-20 overflow-hidden rounded bg-gray-300">
                                        <div id="no_image"></div>
                                    </div>
                                    <div class="space-y-1">
                                        <p class="text-xs font-bold text-gray-500">Upload your profile
                                            picture</p>
                                        <p class="text-xs font-light text-gray-500">SVG, PNG,
                                            JPG, JPEG or GIF</p>
                                    </div>
                                </div>
                                <div id="pick_image" class="border p-2 cursor-pointer text-center text-black">
                                    <p class="text-sm">Browser</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-6">
                        <label for="Email" class="block text-sm font-medium text-gray-700"> Username </label>
                        {{form.username}}
                    
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="FirstName" class="block text-sm font-medium text-gray-700">
                            First Name
                        </label>

                        {{form.first_name}}
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="LastName" class="block text-sm font-medium text-gray-700">
                            Last Name
                        </label>

                        {{form.last_name}}
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="Email" class="block text-sm font-medium text-gray-700"> Email </label>

                        {{form.email}}
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label for="Email" class="block text-sm font-medium text-gray-700"> Email Confirmation </label>
                        {{form.confirm_email}}
                    
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="id_password1" class="block text-sm font-medium text-gray-700"> Password </label>

                        <input type="password" id="id_password1" name="password1"
                            class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" />
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label for="id_id_password2" class="block text-sm font-medium text-gray-700">
                            Password Confirmation
                        </label>

                        <input type="password" id="id_id_password2" name="password2"
                            class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" />
                    </div>

                    <!-- <div class="col-span-6">
                        <label for="MarketingAccept" class="flex gap-4">
                            <input type="checkbox" id="MarketingAccept" name="marketing_accept"
                                class="size-5 rounded-md border-gray-200 bg-white shadow-sm" />

                            <span class="text-sm text-gray-700">
                                I want to receive emails about events, product updates and company announcements.
                            </span>
                        </label>
                    </div> -->

                    <div class="col-span-6">
                        <p class="text-sm text-gray-500">
                            By creating an account, you agree to our
                            <a href="#" class="text-gray-700 underline"> terms and conditions </a>
                            and
                            <a href="#" class="text-gray-700 underline">privacy policy</a>.
                        </p>
                    </div>

                    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
                        <button
                            class="inline-block shrink-0 rounded-md border !border-custom-h bg-custom-h px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:!text-custom-h focus:outline-none focus:ring active:text-blue-500">
                            Create an account
                        </button>

                        <p class="mt-4 text-sm text-gray-500 sm:mt-0">
                            Already have an account?
                            <a href="{% url 'accounts:login' %}" class="!text-gray-700 underline">Log in</a>.
                        </p>
                    </div>
                </form>
            </div>
        </main>
    </div>
</section>
{% endblock content %}

{% block js %}


<script>

    const file_picker = document.querySelector("#id_profile_image"),
        pick_image = document.querySelector("#pick_image"),
        register_form = document.querySelector("#register_form"),
        email = document.querySelector("#id_email"),
        confirm_email = document.querySelector("#id_confirm_email"),
        confirm_email_error = document.querySelector("#confirm_email_error")

    pick_image.addEventListener('click', () => {
        file_picker.click()
    })


    file_picker.onchange = ({target}) => {
        const no_image = document.querySelector("#no_image");
        const img_container = document.querySelector("#img_container")
        const img = document.querySelector("#img")
        const file = target.files[0]
        if (file) {
            // console.log(no_image)
            if (no_image) {
                // console.log(img_container)

                img_container.removeChild(no_image);
                img_container.innerHTML += `
                    <img
                        src="${window.URL.createObjectURL(file)}"
                        alt="{{request.user.first_name}}"
                        class="w-full h-full object-cover"
                        id="img"
                    />
                `
            } else {
                img.src = window.URL.createObjectURL(file)
            }

        } else {
            alert("no file selected")
        }

    };

    var max_words = 150;

    $("textarea[name=biography]").on("keyup", function () {
        var str = $(this).val();
        if (str.split(/[\s]+/).length > max_words) {
            alert("You cannot put more than" + max_words + " words in this text area.")
            var new_str = str.split(/[\s]+/).splice(0, max_words).join(' ');
            $(this).val(new_str);
        }
    })

    confirm_email.addEventListener("keyup", function (e) {
        e.preventDefault();
        console.log(email.value)
        if (confirm_email.value !== email.value) {
            if (confirm_email_error.classList.contains("hidden")) {
                confirm_email_error.classList.remove("hidden");
                confirm_email_error.classList.add("block");
            }
        } else {
            if (confirm_email_error.classList.contains("block")) {
                confirm_email_error.classList.remove("block");
                confirm_email_error.classList.add("hidden");
            }
        }
    })
</script>
<script>
    "use strict";

    function initMap() {

        const CONFIGURATION = {
            "ctaTitle": "Checkout",
            "mapOptions": {"center": {"lat": -33.918861, "lng": 18.423300}, "fullscreenControl": true, "mapTypeControl": false, "streetViewControl": true, "zoom": 11, "zoomControl": true, "maxZoom": 22, "mapId": ""},
            "capabilities": {"addressAutocompleteControl": true, "mapDisplayControl": true, "ctaControl": true}
        };

        const componentForm = [
            'location',
            'locality',
            'administrative_area_level_1',
            'country',
            'postal_code',
        ];


        const getFormInputElement = (component) => document.getElementById(component + '-input');
        const autocompleteInput = document.getElementById('id_address_one');
        const provinceInput = document.getElementById('id_province');
        const cityInput = document.getElementById('id_city');
        const zipcodeInput = document.getElementById('id_zipcode');
        const addressTwoInput = document.getElementById('id_address_two');

        const map = new google.maps.Map(document.getElementById("gmp-map-account"), {
            zoom: CONFIGURATION.mapOptions.zoom,
            center: {lat: -33.918861, lng: 18.423300},
            mapTypeControl: true,
            fullscreenControl: CONFIGURATION.mapOptions.fullscreenControl,
            zoomControl: CONFIGURATION.mapOptions.zoomControl,
            streetViewControl: CONFIGURATION.mapOptions.streetViewControl
        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                position => {
                    const clientLocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(clientLocation);
                    const marker = new google.maps.Marker({position: clientLocation, map: map, draggable: false});
                    const geocoder = new google.maps.Geocoder();
                    geocoder.geocode({location: clientLocation}, (results, status) => {
                        if (status === 'OK') {
                            fillInAddress(results[0]);
                        } else {
                            alert("Sorry, we couldn't find address suggestion for your current location")
                        }
                    })
                },
                () => {

                }
            )
        }

        const marker = new google.maps.Marker({map: map, draggable: false});
        google.maps.event.addListener(map, 'click', (event) => {
            marker.setPosition(event.latLng);
            const geocoder = new google.maps.Geocoder();
            geocoder.geocode({location: event.latLng}, (results, status) => {
                if (status === 'OK') {
                    console.log(results)
                    fillInAddress(results[0]);
                } else {
                    alert("Sorry, we couldn't find address suggestions for your location")
                }
            })
        })
        const autocomplete = new google.maps.places.Autocomplete(autocompleteInput, {
            fields: ["place_id", "address_components", "geometry", "name"],
            types: ["address"],
        });

        autocomplete.setComponentRestrictions(
            {'country': ['za']});

        autocomplete.addListener('place_changed', function () {

            const place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert('No details available for input: \'' + place.name + '\'');
                return;
            }
            console.log(place)
            renderAddress(place);
            fillInAddress(place);
        });

        function fillInAddress(place) {
            const addressNameFormat = {
                'street_number': 'short_name',
                'route': 'long_name',
                'locality': 'long_name',
                'administrative_area_level_1': 'short_name',
                'country': 'long_name',
                'postal_code': 'short_name',
            };
            const getAddressComp = function (type) {
                for (const component of place.address_components) {
                    if (component.types[0] === type) {
                        return component[addressNameFormat[type]];
                    }
                }
                return '';
            };

            autocompleteInput.value = getAddressComp('route')
            addressTwoInput.value = getAddressComp('street_number')
            provinceInput.value = getAddressComp('administrative_area_level_1')
            cityInput.value = getAddressComp('locality')
            zipcodeInput.value = getAddressComp('postal_code')
        }

        function renderAddress(place) {
            map.setCenter(place.geometry.location);
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
        }
    }
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1vMyd0KzU7mTn_AkMW3zd2V4cJC9w31I&libraries=places&callback=initMap&solution_channel=GMP_QB_addressselection_v1_cAC"
    async defer></script>

{% endblock js %}