{% extends '_dashboard.html' %}
{% load static %}

{% block title %}Create Room Type{% endblock title %}

{% block content %}

<section class="w-full bg-white pb-20 overflow-hidden">
    <div class="">
        <div class="relative block">
            <div class="space-y-4 bg-white w-full relative">
                {% include "includes/errors.html" %}
                <div class="px-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="w-full">
                            <div class="bg-white w-full relative">
                                <h6 class="text-custom-h text-base mt-3 mb-6 font-bold uppercase">
                                    Room Details
                                </h6>
                                <div class="flex flex-wrap">
                                    <div class="w-full md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_title">
                                                Title*
                                            </label>
                                            {{form.title}}
                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.title.help_text}}</span>
                                            {% if form.title.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.title.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 relative md:px-4">
                                        <div class="relative w-full  mb-3">
                                            <label for="id_category">
                                                Room Size*
                                            </label>
                                            {{form.room_size}}
                                    
                                            {% if form.room_size.errors %}
                                            <span class="text-[11px] text-red-500 block font-normal lowercase">{{form.room_size.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full lg:w-6/12 relative md:px-4">
                                        <div class="relative w-full  mb-3">
                                            <label for="id_category">
                                                Number of rooms*
                                            </label>
                                            {{form.number_of_rooms}}
                                    
                                            {% if form.number_of_rooms.errors %}
                                            <span class="text-[11px] text-red-500 block font-normal lowercase">{{form.number_of_rooms.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_cover_image">
                                                event picture*
                                            </label>
                                            {{form.cover_image}}
                                            <div class="w-full border rounded-md bg-white border-dotted p-6">
                                                <div
                                                    class="flex items-center flex-col md:flex-row gap-4 w-full justify-between">
                                                    <div class="flex items-center space-x-4">
                                                        <div id="img_container" data-image="{{form.cover_image.value.url}}"
                                                            class="h-16 w-20 overflow-hidden rounded bg-gray-300">
                                                            <div id="no_image"></div>
                                                        </div>
                                                        <div class="space-y-1">
                                                            <p class="text-xs font-bold text-gray-500">Upload image
                                                                to illustrate your room</p>
                                                            <p class="text-xs font-light text-gray-500">SVG, PNG,
                                                                JPG, JPEG or GIF</p>
                                                        </div>
                                                    </div>
                                                    <div id="pick_image"
                                                        class="border p-2 cursor-pointer text-center text-black">
                                                        <p class="text-sm">Browser</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.cover_image.help_text}}</span>
                                            {% if form.cover_image.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.cover_image.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="w-full md:px-4">
                                        <div class="relative w-full mb-3">
                                            <label for="id_description">
                                                Room details*
                                            </label>

                                            {{form.description}}
                                            <span
                                                class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.description.help_text}}</span>
                                            {% if form.description.errors %}
                                            <span
                                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.description.errors.as_text}}</span>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr class="mt-6 border-b-1 border-gray-300">
                        <div class="space-x-7 mt-3">
                            <div
                                class="text-center inline-block h-12 bg-custom-primary w-[150px] rounded-md cursor-pointer">
                                <input type="submit" value="submit"
                                    class="text-white w-full h-full cursor-pointer text-sm font-semibold" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
{% block js %}
<script>

    window.onload = () => {
        const file_picker = document.querySelector("#id_cover_image"),
            pick_image = document.querySelector("#pick_image")
        const no_image = document.querySelector("#no_image");
        const img_container = document.querySelector("#img_container")
        const img = document.querySelector("#img")

        if (img_container.getAttribute("data-image")) {

            img_container.removeChild(no_image);
            img_container.innerHTML += `
                    <img
                        src="${img_container.getAttribute("data-image")}"
                        alt="{{request.user.first_name}}"
                        class="w-full h-full object-cover"
                        id="img"
                    />
                `
        }
        pick_image.addEventListener('click', () => {
            file_picker.click()
        })

        file_picker.onchange = ({target}) => {

            var file = target.files[0]
            if (file) {
                // console.log(no_image)
                if (no_image) {

                    img_container.removeChild(no_image);
                    img_container.innerHTML += `
                    <img
                        src="${window.URL.createObjectURL(file)}"
                        alt="{{request.user.first_name}}"
                        class="w-full h-full object-cover"
                        id="img"
                    />
                `
                } else {
                    img.src = window.URL.createObjectURL(file)
                }

            } else {
                alert("no file selected")
            }

        };

    }

</script>


{% endblock js %}