{% extends '_account.html' %}
{% load static %}

{% block title %}Change password{% endblock title %}

{% block accountblock %}
<div class='relative block'>
    <div class="bg-white">
        <div class="space-y-4">
            {% include "includes/errors.html" %}
            <div class="md:px-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h6 class="text-custom-h text-sm mt-3 mb-6 font-bold uppercase">
                        Password Information
                    </h6>
                    <div class="flex flex-wrap space-y-3 md:space-y-0">
                        <div class="w-full lg:w-6/12 md:px-4">
                            <div class="relative w-full mb-3">
                                <label for="id_old_password">
                                    old password*
                                </label>
                                <input id="id_old_password" name="old_password" required type="password"
                                    class="block p-3 md:text-base w-full text-sm text-gray-900 outline-none bg-gray-50 rounded-lg border border-gray-300 focus:ring-custom-primary placeholder:text-gray-400 focus:border-custom-primary ease-linear transition-all duration-150">
                                <span class="text-[11px] text-custom-tertiary block font-normal lowercase">enter your
                                    old password</span>

                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 md:px-4">
                            <div class="relative w-full mb-3">
                                <label for="id_new_password1">
                                    new password*
                                </label>
                                <input id="id_new_password1" name="new_password1" required type="password"
                                    class="block p-3 md:text-base w-full text-sm text-gray-900 outline-none bg-gray-50 rounded-lg border border-gray-300 focus:ring-custom-primary placeholder:text-gray-400 focus:border-custom-primary ease-linear transition-all duration-150">
                                <span class="text-[11px] text-custom-tertiary block font-normal lowercase">your password
                                    must contain at least 8 characters.</span>

                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 md:px-4">
                            <div class="relative w-full mb-3">
                                <label for="id_new_password2">
                                    Retype New password*
                                </label>
                                <input id="id_new_password2" name="new_password2" required type="password"
                                    class="block p-3 md:text-base w-full text-sm text-gray-900 outline-none bg-gray-50 rounded-lg border border-gray-300 focus:ring-custom-primary placeholder:text-gray-400 focus:border-custom-primary ease-linear transition-all duration-150">
                                <span
                                    class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.new_password2.help_text}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="text-center mt-6 inline-block h-12 bg-custom-h w-[150px] rounded-md cursor-pointer">
                        <input type="submit" value="submit"
                            class="text-white w-full h-full cursor-pointer text-sm font-semibold" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock accountblock %}