<div class="p-4 border rounded-md">
    <h6 class="text-gray-900 text-base mt-3 mb-6 font-bold uppercase">
        Contact Information
    </h6>
    <div class="flex items-start w-full flex-wrap">
        <div class="flex font-sans w-full flex-wrap">
            <div class="w-full relative lg:w-12/12 md:px-4">
                <div class="relative w-full mb-3">
                    <label for="id_address_one">
                        Address Line 1
                    </label>
                    {{form.address_one}}
                    <span
                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.address_one.help_text}}</span>
                </div>
            </div>
            <div class="w-full lg:w-12/12 md:px-4">
                <div class="relative w-full mb-3">
                    <label for="id_address_two">
                        Address Line 2
                    </label>
                    {{form.address_two}}
                    <span
                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.address_two.help_text}}</span>
                </div>
            </div>
            <div class="w-full lg:w-12/12 md:px-4">
                <div class="relative w-full mb-3">
                    <label for="id_city">
                        City
                    </label>
                    {{form.city}}
                    <span
                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.city.help_text}}</span>
                </div>
            </div>
            <div class="w-full lg:w-4/12 md:px-4">
                <div class="relative w-full mb-3">
                    <label for="id_province">
                        province
                    </label>
                    {{form.province}}
                    <span
                        class="text-[11px]  text-custom-tertiary block font-normal lowercase">{{form.province.help_text}}</span>
                </div>
            </div>
            <div class="w-full lg:w-4/12 md:px-4">
                <div class="relative w-full mb-3">
                    <label for="id_country">
                        Country
                    </label>
                    <input readonly id="id_country" name="country" type="text" editable="false"
                        class="block p-3 md:text-base w-full text-sm text-gray-900 outline-none bg-gray-50 rounded-lg border border-gray-300 focus:ring-custom-primary placeholder:text-gray-400 focus:border-custom-primary ease-linear transition-all duration-150"
                        value="South Africa">
                    <span
                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.country.help_text}}</span>

                </div>
            </div>
            <div class="w-full lg:w-4/12 md:px-4">
                <div class="relative w-full mb-3">
                    <label for="id_zipcode">
                        Postal Code
                    </label>
                    {{form.zipcode}}
                    <span
                        class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.zipcode.help_text}}</span>

                </div>
            </div>
        </div>
        
    </div>
</div>